/* Helper spacing */

// Padding styles
.padding-none { padding: 0px; }
.padding-all { padding: 16px; }
.padding-top { padding-top: 16px; }
.padding-bottom { padding-bottom: 16px; }
.padding-left { padding-left: 16px; }
.padding-right { padding-right: 16px; }

.padding-all-half { padding: 4px; }
.padding-top-half { padding-top: 4px; }
.padding-bottom-half { padding-bottom: 4px; }
.padding-left-half { padding-left: 4px; }
.padding-right-half { padding-right: 4px; }

.padding-all-1x { padding: 8px; }
.padding-top-1x { padding-top: 8px; }
.padding-bottom-1x { padding-bottom: 8px; }
.padding-left-1x { padding-left: 8px; }
.padding-right-1x { padding-right: 8px; }

.padding-all-2x { padding: 16px; }
.padding-top-2x { padding-top: 16px; }
.padding-bottom-2x { padding-bottom: 16px; }
.padding-left-2x { padding-left: 16px !important; }
.padding-right-2x { padding-right: 16px; }

.padding-all-3x { padding: 32px; }
.padding-top-3x { padding-top: 32px; }
.padding-bottom-3x { padding-bottom: 32px; }
.padding-left-3x { padding-left: 32px !important; }
.padding-right-3x { padding-right: 32px !important; }

.padding-top-5x { padding-top: 128px !important; }

.padding-top-none { padding-top: 0px; }
.padding-bottom-none { padding-bottom: 0px !important; }
.padding-left-none { padding-left: 0px !important; }
.padding-right-none { padding-right: 0px; }

// Margin styles
.margin-auto { margin: auto !important; }
.margin-none { margin: 0px !important; }
.margin-all { margin: 16px !important; }
.margin-top { margin-top: 16px !important; }
.margin-bottom { margin-bottom: 16px !important; }
.margin-left { margin-left: 16px !important; }
.margin-right { margin-right: 16px !important; }

.margin-all-1x { margin: 8px !important; }
.margin-top-1x { margin-top: 8px !important; }
.margin-bottom-1x { margin-bottom: 8px !important; }
.margin-left-1x { margin-left: 8px !important; }
.margin-right-1x { margin-right: 8px !important; }

.margin-all-2x { margin: 16px !important; }
.margin-top-2x { margin-top: 16px !important; }
.margin-bottom-2x { margin-bottom: 16px !important; }
.margin-left-2x { margin-left: 16px !important; }
.margin-right-2x { margin-right: 16px !important; }

.margin-all-3x { margin: 32px !important; }
.margin-top-3x { margin-top: 32px !important; }
.margin-bottom-3x { margin-bottom: 32px !important; }
.margin-left-3x { margin-left: 32px !important; }
.margin-right-3x { margin-right: 32px !important; }

.margin-top-4x { margin-top: 64px !important; }

.margin-top-no { margin-top: 0px !important; }
.margin-bottom-no { margin-bottom: 0px !important; }
.margin-left-no { margin-left: 0px !important; }
.margin-right-no { margin-right: 0px !important; }
