{
  "extends": "stylelint-config-standard",
  "rules": {
    "block-no-empty": null,
    "color-hex-case": null,
    "length-zero-no-unit": null,
    "no-empty-source": null,
    "selector-type-no-unknown": null
  }
}
