<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h3>Reset Your Password</h3>
      <div class="panel">
        <div class="panel-body table-responsive">
          <form [formGroup]="form" (ngSubmit)="resetPassword(form)" novalidate>
            <div class="form-group">
              <label>Password</label>
              <input formControlName="password" type="password" class="form-control" required>
              <control-errors [control]="form.controls.password"></control-errors>
            </div>
            <div class="form-group">
              <label>Confirm Password</label>
              <input formControlName="confirmPassword" type="password" class="form-control">
              <control-errors [control]="form.controls.confirmPassword"></control-errors>
            </div>

            <button block type="submit" [disabled]="!form.valid" class="btn btn-default">Send</button>
          </form>
        </div>
      </div>
      <div>
        <a [routerLink]="['/auth/login']" class="btn btn-clear">Login</a>
      </div>
    </div>
  </div>
</div>