<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h3>Reset Your Password</h3>
      <p>Enter your email below and we'll send you instructions on how to reset your password.</p>
      <div class="panel">
        <div class="panel-body table-responsive">
          <form [formGroup]="form" (ngSubmit)="forgotPassword(form)" novalidate>
            <div class="form-group">
              <label>Email address</label>
              <input formControlName="email" type="email" class="form-control" required>
              <control-errors [control]="form.controls.email"></control-errors>
            </div>
            <button block type="submit" [disabled]="!form.valid" class="btn btn-default">Email Instructions</button>
          </form>
        </div>
      </div>
      <div>
        <a [routerLink]="['/auth/login']" class="btn btn-clear">Login</a>
      </div>
    </div>
  </div>
</div>
