<div class="logo margin-top-2x margin-bottom-2x">
  <img class="img-responsive" src="/assets/images/Horizontal.svg"/>
</div>

<div class="jackpot-amount">
  <p>{{jackpotAmount}}</p>
  <p class="tagline">Current jackpot for next Round 3 winner</p>
</div>

<div class="game-link-container">
  <p class="game-link-text padding-all-2x padding-top margin-bottom-no">{{gameUrl}}</p>
</div>

<div class="schedule-container margin-top-2x">
  <div class="schedule-header">
    <p>Your Games Schedule</p>
  </div>

  <!-- TODO: create a schedule component to re-used in other parts of the app -->
  <!-- <ng-container *ngFor="game of scheduledGames"> -->

    <div class="schedule-item">
      <p class="game-date"><i class="fa fa-calendar"></i> Fri, February 16</p>
      <p class="game-times"><i class="far fa-clock"></i> 8:00 PM, 9:00 PM</p>
    </div>

    <div class="schedule-item">
      <p class="game-date"><i class="fa fa-calendar"></i> Fri, February 16</p>
      <p class="game-times"><i class="far fa-clock"></i> 8:00 PM, 9:00 PM</p>
    </div>

    <div class="schedule-item">
      <p class="game-date"><i class="fa fa-calendar"></i> Fri, February 16</p>
      <p class="game-times"><i class="far fa-clock"></i> 8:00 PM, 9:00 PM</p>
    </div>

    <div class="schedule-item">
      <p class="game-date"><i class="fa fa-calendar"></i> Fri, February 16</p>
      <p class="game-times"><i class="far fa-clock"></i> 8:00 PM, 9:00 PM</p>
    </div>

  <!-- </ng-container> -->
</div>
