i {
  color: white;
}

.game-explanation {
  color: white;
  font-size: 13px;
  line-height: 19px;
  margin-top: 15px;
  margin-bottom: 13px;
}

.number-of-games {
  color: white;

  input {
    background: none;
    height: 38px;
  }
}

form {
  label {
    color: white;
  }
  
  input {
    background: none;
    width: 100%;
    height: 38px;
  }
}
